// $icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// @import 'sass-bootstrap/lib/bootstrap';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@mixin transform($value...) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    transform: $value;
}

@mixin gradient($args...) {
  background: -webkit-linear-gradient($args); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($args); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($args); /* For Firefox 3.6 to 15 */
  background: linear-gradient($args); /* Standard syntax */
}

.tesuji-board {
    position: relative;
    margin: 12px;
    background-color: #ffcc66;
    height: 600px;
    width: 600px;

    .tesuji-grid {
        position: absolute;
        margin: 15px;
        height: 570px;
        width: 570px;
        z-index: 2;

        table {
          position: absolute;
          z-index: 0;
          left: 15px;
          top: 15px;
          // border: 1px dotted black;
          border-collapse: collapse;
          border-spacing: 0;
        }

        td {
            height: 29px;
            width: 29px;
            border: 1px solid black;
            padding: 0px;
        }

        .label {
            position: absolute;
            z-index: 1;
            font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
            font-size: 9px;
            text-align: center;
            color: black;
            padding: 0px;
        }

        @for $i from 0 through 18 {
            $offset-x: 540 - (30 * $i) + px;
            $offset-y: (30 * $i) + px;

            .label-top-#{$i} {
              @extend .label;
              height: 15px;
              width: 30px;
              padding-top: 2px;
              @include transform(translate($offset-y, -15px));
            }
            .label-bottom-#{$i} {
              @extend .label;
              height: 15px;
              width: 30px;
              @include transform(translate($offset-y, 570px));
            }
            .label-left-#{$i} {
              @extend .label;
              height: 30px;
              width: 15px;
              padding-top: 10px;
              @include transform(translate(-15px, $offset-x));
            }
            .label-right-#{$i} {
              @extend .label;
              height: 30px;
              width: 15px;
              padding-top: 10px;
              @include transform(translate(570px, $offset-x));
            }
        }

        .dot {
          position: absolute;
          top: 13px;
          left: 13px;
          height: 5px;
          width: 5px;
          background-color: black;
        }
    }

    .intersections {
      position: absolute;
      margin: 15px;
      height: 570px;
      width: 570px;
      z-index: 3;

      .intersection {
        position: absolute;
        z-index: 3;
        height: 30px;
        width: 30px;

        .stone {
          position: absolute;
          top: 3px;
          left: 3px;
          border-radius: 50%;
          &.preview {
            opacity: 0.4;
            z-index: 2;
          }
          &.black {
            height: 24px;
            width: 24px;
            @include gradient(285deg, black, #505050);
            z-index: 3;
          }
          &.white {
            height: 24px;
            width: 24px;
            @include gradient(285deg, #D0D0D0, white);
            z-index: 3;
          }
          &.shadow {
            height: 24px;
            width: 24px;
            top: 4px;
            left: 4px;
            opacity: 0.2;
            background-color: black;
            z-index: 2;
          }
        }
      }
    }

    @for $i from 0 through 18 {
      @for $j from 0 through 18 {
        $offset-x: (30 * $i) + px;
        $offset-y: 540 - (30 * $j) + px;

        .intersection-#{$i}-#{$j} {
          @include transform(translate($offset-x, $offset-y));
        }
      }
    }

}
